@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 6%;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;

}

.logo{
   font-size: 30px;
   font-weight: bold;
   color: white;
   letter-spacing: 1.5px; 
   text-transform: uppercase;
   cursor: pointer;
}


nav li{
     display: inline-block;
     list-style: none;
     padding: 0px 20px;
     text-transform: capitalize;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li a:hover{
     color: aquamarine;
}

.content-items img{
    width: 100%;
     height: 100vh;
     background-size: cover;
     background-position: center;
     
}

#data{
      position: absolute;
      bottom: 20%;
      width: 100%;
      display: flex;
      flex-direction: column;
       text-align: center;
    }

    .head{
        padding: 20px 0px;
         color: white;
         letter-spacing: 2px;
         word-spacing: 5px;
    }



    /* event css */ 


    section{
         width: 80%;
         margin: 80px auto;
    }

    .title{
        text-align: center;
        font-size: 24px;
    }

    .event .row{
        margin-top: 70px;
    }

    .row{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        
    }
    
     .row .col{
           display: flex;  
            flex-direction: column;
            align-items: center;
       }

    .col img{
         width: 90%;
        height: 60vh;
    }

    .col h2{
         color: cadetblue;
         margin-top: 25px;
  
    }
    .col p{
        color: darkgrey;
        padding: 15px 0px;
         
    }

    .col .btn{
         border: 1px solid cadetblue;
         border-radius: 5px;
          background-color: dodgerblue;
         padding: 10px 20px;
         color: white;
         cursor: pointer;
        margin-top: 25px;
        
    }

    .col .btn:hover{
          background-color: transparent;
          color: dimgray;
    }


    /* START EXPLORE CSS */
    .explore{
        width: 100%;
        height: 100vh;
        background-image: url(https://media.worldnomads.com/shareimages/home-1200x630.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
    }


    .explore-content{ 
        margin-top: 10%;
        width: 60%;
        padding: 50px;
        color: white;
    }

    .explore-content h1{
        font-size: 40px;
        margin: 50px;
    }
    .explore-content p{
          font-size: 25px;
         margin-left: 55px;
          padding-top: 60px;
    }
 
    .explore  .btn{
        border: 1px solid cadetblue;
        border-radius: 5px;
         /* background-color: dodgerblue; */
         background-color: transparent;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
         margin-left: 50px;
         margin-top: 45px;  
   }

   .explore  .btn:hover{
    background-color: cadetblue;
   }


 




   /* start upcoming  tours*/
      
     .tours .row .col1{
          width: 50%;
     }

      .content-col{
         width: 35%;
        
        
      }  

      .img-col{
        width: 75%;
        justify-content: right;
      }

   .tours .img-gallery{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
   }
   .img-gallery img{
          max-width: 300px;
            height: 35vh;
            margin: 15px;
   }


   .content-col h1{
        font-size: 3rem;
         position: relative;
         bottom: 40px; 
         color: cadetblue;
         word-spacing: 10px;
         /* letter-spacing: 5px; */
   }


   .content-col p{
      color: grey;
       font-size: 15px;
   }



.content-col .btn{
    border: 1px solid cadetblue;
    border-radius: 5px;
     background-color: dodgerblue;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
   margin-top: 25px;
   
}

.content-col .btn:hover{
     background-color: transparent;
     color: dimgray;
}
